<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <img src="/assets/icons/logo.png" alt="" width="165" height="54.8" />
      <!-- <a class="navbar-brand" href="#">SoniMoney</a> -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="#">ABOUT US</a></li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="servicesDropdown"
              role="button"
              >SERVICES</a
            >
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Service 1</a></li>
              <li><a class="dropdown-item" href="#">Service 2</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="creditCardDropdown"
              role="button"
              >CREDIT CARD</a
            >
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Credit Card 1</a></li>
              <li><a class="dropdown-item" href="#">Credit Card 2</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="insuranceDropdown"
              role="button"
              >INSURANCE</a
            >
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Insurance 1</a></li>
              <li><a class="dropdown-item" href="#">Insurance 2</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="othersDropdown"
              role="button"
              >OTHERS</a
            >
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Other 1</a></li>
              <li><a class="dropdown-item" href="#">Other 2</a></li>
            </ul>
          </li>
          <li class="nav-item"><a class="nav-link" href="#">CONTACT US</a></li>
          <li class="nav-item">
            <a class="nav-link" href="#">EMI CALCULATOR</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
