<div id="carouselExample" class="carousel slide" data-bs-ride="carousel" data-bs-interval="1000">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/icons/home-loan.png" class="d-block w-100" alt="Slide 1" />
    </div>
    <div class="carousel-item">
      <img src="/assets/icons/chrted_accountent.png" class="d-block w-100" alt="Slide 2" />
    </div>
    <div class="carousel-item">
      <img src="/assets/icons/personal-loan.png" class="d-block w-100" alt="Slide 3" />
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </button>
</div>
<div class="discount">
  <div class="container mt-3">
    <div>
      <div class="loan-offers">
        <div class="loan-item">
          <img src="/assets/icons/homeHealth.png" alt="Home Loan" />
          <div class="loan-title">6.50%* Onwards</div>
          <div class="loan-subtitle">HOME LOAN IN INDIA</div>
        </div>
        <div class="loan-item">
          <img src="/assets/icons/mulitple.png" alt="Personal Loan" />
          <div class="loan-title">10.25%* Onwards</div>
          <div class="loan-subtitle">INSTANT PERSONAL LOAN</div>
        </div>
        <div class="loan-item">
          <img src="/assets/icons/carInsurance.png" alt="Car Loan" />
          <div class="loan-title">8.00%* Onwards</div>
          <div class="loan-subtitle">CAR LOAN IN INDIA</div>
        </div>
        <div class="loan-item">
          <img src="/assets/icons/bussiness.png" alt="Business Loan" />
          <div class="loan-title">10.00%* Onwards</div>
          <div class="loan-subtitle">BUSINESS LOAN</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5 text-center">
  <h2 class="title">
    Find The Best Loan Products And Insurance Policies that Offer<br />
    by Loan Providing Agency in India
  </h2>
  <p class="description">
    Will match you with a
    <strong>loan program and insurance policy</strong> that meet your financial
    needs along with short-term liquidity – by striving to make funds available
    to you <strong>within 24 hours of application.</strong>
  </p>
  <div class="cardItem mt-5">
    <h2 class="sub-title">Get Fast & Easy Application Process</h2>
    <p class="sub-description">
      One-stop destination for all your loan-related concerns!
    </p>
  </div>

  <div class="row steps d-flex mt-5">
    <div class="col-12 col-lg-4 step card">
      <div class="step-circle">1</div>
      <h3>Choose Loan Amount</h3>
      <p>Select the amount you would require or like to apply the loan for.</p>
    </div>
    <div class="col-12 col-lg-4 step card">
      <div class="step-circle">2</div>
      <h3>Get Your Loan Approved</h3>
      <p>
        Submit all your necessary documents required for the loan procedure.
      </p>
    </div>
    <div class="col-12 col-lg-4 step card">
      <div class="step-circle">3</div>
      <h3>Get Your Cash Disbursed</h3>
      <p>Get the loan amount credited to your bank account.</p>
    </div>
  </div>
</div>

<div class="why-choose-us py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="sub-title">Why People Choose Us?</h2>
        <p class="lead sub-description">
          We always deliver the best of what we offer by exceeding our client's
          expectations and achieving deadlines. We Are Specialist in All Kind Of
          Loan Services providing in India.
        </p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-4">
        <div class="card h-100">
          <div class="card-body text-center">
            <div class="icon mb-3">
              <img src="/assets/icons/team.png" alt="Dedicated Specialists" class="img-fluid" width="60px" />
            </div>
            <h3>Dedicated Specialists</h3>
            <p class="card-text">
              24/7 full assistance and support to our client-base.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card h-100">
          <div class="card-body text-center">
            <div class="icon mb-3">
              <img src="/assets/icons/success-story.png" alt="Success Stories Rating" class="img-fluid" width="60px" />
            </div>
            <h3>Success Stories Rating</h3>
            <p class="card-text">
              Our reviews are always the best everywhere as you can see it
              yourself...
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card h-100">
          <div class="card-body text-center">
            <div class="icon mb-3">
              <img src="/assets/icons/appraisal.png" alt="No Front Appraisal Fees!" class="img-fluid" width="60px" />
            </div>
            <h3>No front Appraisal Fees!</h3>
            <p class="card-text">
              Zero/No Processing fee from our end throughout the entire
              procedure.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="carausal-header">
  <div class="col-lg-12 carousal-testimonial">
    <owl-carousel-o [options]="testimonialSlider">
      <ng-template *ngFor="let logo of lifePlans['partner-say']" carouselSlide>

        <div class="testimonial-card">
          <h5>{{ logo["partner-name"] }}</h5>
          <p>{{ logo["partner-view"] }}</p>
        </div>
        <div class="avtar">
          <img src="{{ logo['partner-image'] }}" alt="{{ logo['partner-name'] }}" />

        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</div>