.loan-offers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.loan-item {
  text-align: center;
  padding: 10px;
  border-right: 1px solid #ddd;
  flex: 1;
}
.loan-item:last-child {
  border-right: none;
}
.loan-item img {
  width: 50px;
  height: auto;
  margin-bottom: 10px;
}
.loan-title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}
.loan-subtitle {
  font-size: 14px;
  color: #777;
}

.discount {
  max-width: 100%;
  background-color: white;
}
.card {
  background: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
  margin: auto;
}
.step-circle {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  background: #e0ecff;
  color: #003366;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #003366;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
}

.title {
  font-size: 24px;
  line-height: 32px;
  margin: 0px 0px 10px 0px;
  color: #3c4d6b;
  font-weight: 500;
}

.description {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  line-height: 1.4;
  color: #778191;
}

.container {
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
.sub-title {
  margin: 0px 0px 10px 0px;
  color: #3c4d6b;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}
.sub-description {
  margin: 0 0 26px;
  line-height: 1.6;
  font-weight: 400;
  -moz-font-weight: 500;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  line-height: 1.4;
  color: #778191;
}

.card {
  padding: 30px;
  h3 {
    color: #3c4d6b;
    font-weight: 500;
    font-size: 20px;
  }
  p {
    margin: 0 0 26px;
    line-height: 1.6;
    font-weight: 400;
    -moz-font-weight: 500;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    line-height: 1.4;
    color: #778191;
  }
}

@media screen and (max-width: 999px) {
  .card {
    margin-top: 30px;
  }
}
.carausal-header {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 80px;
  background: blue;
}
.carousal-testimonial {
  .testimonial-card {
    background-color: #f8fafb;
    border-radius: 25px;
    margin: 10px 15px;
    height: 350px;
    img {
      width: 75px;
    }
    h5 {
      font-weight: 400;
      margin-bottom: 0px;
      padding: 10px 0px;
    }
    p {
      font-weight: 12px;
      font-style: italic;
      // color: #9C9C9C;
    }
  }
  owl-carousel-o {
    .owl-theme {
      .owl-nav {
        .owl-prev {
          position: absolute !important;
          left: 30px !important;
          bottom: -45px !important;
          background-color: transparent;
          img {
            background: #f2f5f8;
            padding: 10px 12px;
            border-radius: 25px;
          }
        }
        .owl-next {
          position: absolute;
          right: 30px;
          bottom: -45px;
          background-color: transparent;
          img {
            background: #f2f5f8;
            padding: 10px 12px;
            border-radius: 25px;
          }
        }
      }
    }
  }
}

.avtar {
  img {
    border-radius: 73px;
    width: 150px;
    margin: 15px;
    height: 150px;
  }
}
